<div ng-model="newpat" class="addpat">
  <input type="text" placeholder="Name" class="apbox" id="name" ng-model="newpat.name" >
  <input type="text" placeholder="Email"class="apbox" id="email" ng-model="newpat.email">
  <textarea type="text" placeholder="History" class="apbox" id="history"ng-model="newpat.history"></textarea>
  <textarea type="text" placeholder="Notes" class="apbox" id="notes" ng-model="newpat.notes"></textarea>
  <button ng-click="createPatient(newpat)">Submit</button>
</div>


<footer class="backbutton" ui-sref="user"> Back </footer>
